{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-articlepage{% endblock %}


{% block content %}

    <div class="container-fluid mt-4">
        <div class="page-title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="page-intro">
            {{ page.intro|richtext }}
        </div>
        <div class="page-intro small">
            {{ page.first_published_at }}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ self.youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    

    {% if page.body %}
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-auto mb-3">
                    {%  include "streamfield.html" %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <a href="{{ page.get_parent.url }}">Return to articles</a>
            </div>
        </div>
    </div>

{% endblock %}